/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.password-toggle {
    position: relative;
}

.password-toggle input[type="password"] {
    padding-right: 30px;
}

.password-toggle .toggle-password {
    position: absolute;
    top: 35%;
    right: 3%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.password-toggle .toggle-password img {
    width: 24px;
    height: 24px;
}

.toast{
display:flex;
align-items:center;
justify-content:center;
height:40px;
width:45vw;
border-radius:15px;
position: absolute;
color:white;
transform: opacity .3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}

#toast-failure{
opacity:0;
background:#D32F2F;
}

#toast-success{
opacity:0;
background:#388E3C;
}

